$bodyFont: -apple-system, BlinkMacSystemFont, 
"Segoe UI", "Roboto", "Oxygen", 
"Ubuntu", "Cantarell", "Fira Sans", 
"Droid Sans", "Helvetica Neue", sans-serif;
$secondFont: source-code-pro,Menlo,Monaco,Consolas,courier new,monospace;
$primary-color:#8824d9 ;
$icon-color:#431667;
$special-gradient:linear-gradient(270deg,#561b82,#7720be);